<p id="notice"><%= notice %></p>

<h1>Customers Details</h1>

<table>
  <thead>
    <tr>
      <th>Cust_SrNo</th>
      <th>Customer name</th>
      <th>Phone no</th>
      <th>City</th>
      <th>Accesories</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.Customer_id %></td>
        <td><%= customer.Customer_name %></td>
        <td><%= customer.Phone_No %></td> 
        <td><%= customer.City %></td>
        <td><%= customer.Accesories %></td>
        <td><%= customer.Price %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
