<!DOCTYPE html>
<html>
  <head>
    <title>Compshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  <title><%= @page_title ? @page_title : 'Welcome' %> | The Cumputer Shop</title>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        
     </div>

    
  
  <div class="collapse navbar-collapse">
    <header>
      <div class="container">
        <h1>The Computer Shop<small><%= @page_title ? @page_title : '  Welcome  ' %></small></h1> 
      </div>
    </header>
         <ul class="nav nav-tabs">
            <li class="<%= params[:controller] == 'customers' ? 'active' : '' %>"><%= link_to 'Home', home_index_path %></li>
            <li class="<%= params[:controller] == 'customers' ? 'active' : '' %>"><%= link_to 'About Us', about_index_path %></li>  
            <li class="<%= params[:controller] == 'customers' ? 'active' : '' %>"><%= link_to 'Gallary', gallary_imgs_path %></li>  
            <li class="<%= params[:controller] == 'customers' ? 'active' : '' %>"><%= link_to 'Services', services_index_path %></li>     
            <li class="<%= params[:controller] == 'customers' ? 'active' : '' %>"><%= link_to 'Contact Us', contact_index_path %></li>     

          </ul>
  </div>

  
    
 
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!-- Alerts & Messages -->
          <% if flash[:notice] %>
            <div class="alert alert-success"><%= flash[:notice] %></div>
          <% end %>

          <% if flash[:alert] %>
            <div class="alert alert-danger"><%= flash[:alert] %></div>
          <% end %>
          <%= yield %>
        </div>
       <div>
          <div class="row">
          <div class="col-md-4">
       </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>Copyright &copy; 2020, All Rights Reserved</p>
    </div>
  </footer>

</body>
</html>
